@page "/Filter"

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <title>NASAS Planets</title>
    <link rel="stylesheet" href="/css/filter/style.css" />
</head>
<body>
    <header>
        <div class="top-bar">
            <div class="logo">NASAS</div>
        </div>
    </header>
    <div class="container">
        <div class="filter-box">
            <h2>Фільтри</h2>
            <select>
                <option disabled selected>Тип</option>
                <option>Кам'яниста</option>
                <option>Газова</option>
                <option>Крижана</option>
                <option>Суперземля</option>
                <option>Карликова</option>
                <option>Екзопланета</option>
            </select>
            <select>
                <option disabled selected>Орбіта</option>
                <option>В зоні життя</option>
                <option>Резонансна</option>
                <option>Вільноплаваюча</option>
            </select>
            <select>
                <option disabled selected>Маса</option>
                <option>&lt; Землі</option>
                <option>~ Землі</option>
                <option>&gt; Землі</option>
                <option>Гігант</option>
            </select>
            <select>
                <option disabled selected>Склад</option>
                <option>Залізна</option>
                <option>Вуглецева</option>
                <option>Водна</option>
            </select>
            <select>
                <option disabled selected>Стан</option>
                <option>Придатна до життя</option>
                <option>Не придатна</option>
            </select>
        </div>

        <div class="leaderboard">
            <div class="leader-item">
                <img src="/css/filter/image/Mars.jpg" alt="Mars" />
                <span>Марс</span>&nbsp;&nbsp;| Вік: 20 | Маса: -15 | Радіус: 20
            </div>
            <!-- Додай інші планети тут -->
        </div>
    </div>
</body>
</html>


@code {

}
